<div id="middle" style="margin:0 auto;padding-top:115px;width:960px;">
    <div id="middle-left" class="span8" style="box-shadow:0px 2px 5px rgba(0,0,0,0.2);border-radius:5px;width:600px;background-color:white;height:470px;">
        <table style="margin-left:35px;height:20px;">
            <tr><td class="span3">Your Letters</td><td class="span3">Date Written</td><td class="span3">Date Send To</td></tr>
        </table>
        <hr style="margin:10px 20px;"/>
        <table style="margin-left:35px;">
            <tr><td class="span3">Your Letters</td><td class="span3">Date Written</td><td class="span3">Date Send To</td></tr>
        </table>
    </div>
    <div id="middle-right" class="span4" style="box-shadow:0px 2px 5px rgba(0,0,0,0.2);border-radius:5px;background-color:white;height:470px;">
        <div id="left-in" style="width:260px;margin:0 auto;">
            <div style="margin-top:5px;margin-left:25px;">Public (but anonymous) letters</div>
            <hr style="margin:10px 20px;"/>
            <div>
                <p><a href="">Subject</a>Dear FutureMe, you're okay.you really are okay.after it all you've made it through.it's okay.cry if you need to. work hard at what you do...</p>
                <p style="font-size:12px;">send 7 years into the future to june 26th,2013</p>
            </div>
        </div>
        <div style="text-align:center;">
            <a href="">read more letters</a>
        </div>
    </div>
</div>
