<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>test page</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <style type="text/js" src="/static/js/bootstrap.min.js"></style>
        <style type="text/css">
        </style>

        <script type="text/javascript">
        </script>
	</head>
	<body>
	    <div id="top">
            <div id="logo">
            </div>
            <div="menu">
            </div>
        </div>
        <div id="middle">
            <div id="middle-left">
            </div>
            <div id="middle-right">
            </div>
        </div>
        <div id="bottom">
        </div>
	</body>
</html>
