<div id="middle" style="margin:0 auto;padding-top:115px;width:960px;">
    <div id="middle" class="span4" style="box-shadow:0px 2px 5px rgba(0,0,0,0.2);border-radius:5px;width:920px;background-color:white;height:470px;">
    <h4 style="margin-left:20px;">信件帮助信息</h4>
    <hr style="margin:10px 20px;"/>
    <p style="margin:0px 20px;">本网站不会记录您的个人信息，请放心使用，为保护您的私人信箱，将会使用本网站邮箱向您发送信件，不用担心自己的信箱被盗用，为保证信件的意义，您的信件在提交之后内容部分直到发信前将不能被查看，同时保留您修改投递邮箱、是否公开以及删除邮件的权限。</p>
    <h4 style="margin-left:20px;">账号帮助信息</h4>
    <hr style="margin:10px 20px;"/>
    <p style="margin:0px 20px;">用户有权修改邮箱地址、用户名和密码信息，同时保留之前所写邮件信息，注销后本网站会将帐号信息连同信件内容一并删除，到期不再发送。</p>
    </div>
</div>
