    <div style="margin-top:5px;margin-left:25px;">Public (but anonymous) letters</div>
        <hr style="margin:10px 20px;"/>
        <div id="left-in" style="width:260px;margin:0 auto;">
            <div>
                <p><a href="/showletter/">tofuture me</a>Dear FutureMe, you're okay.you really are okay.after it all you've made it through.it's okay.cry if you need to. work hard at what you do...</p>
                <p style="font-size:12px;">send 7 years into the future to june 26th,2013</p>
            </div>
        </div>
        <div style="text-align:center;">
            <a href="/showletter/">read more letters</a>
        </div>
        <div style="padding:0px 69px;">
        {%include 'clock.html'%}
        </div>
